body{
    width: 450px;
    margin: 0 auto;
    text-align: center;
}
ul{
    list-style: none;
    text-decoration: none;
    text-align: left;
}
ul li{
    display: flex;
    justify-content: space-between;
}